@model AMMobile.Models.Ruta

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<fieldset>
    <legend>¿Está seguro que desea elimiar esta la ruta  @Html.DisplayFor(model => model.Guia)?</legend>

 @Html.HiddenFor(model => model.RutaID)
    
@using (Html.BeginForm())
{
 <p>
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 

  </p>
}
</fieldset>
 <div class="btn-group">
     <a class="btn" href="javascript:history.go(-1)"><i class="icon-step-backward"></i> Regresar</a>
</div>