@model IEnumerable<AMMobile.Models.Ruta>

@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model);
}


<div class="Consolidados">
<h2>Ruta Courier</h2>
<p>&nbsp</p>
@grid.GetHtml(
        fillEmptyRows: true,
        alternatingRowStyle: "fila-alternativa",
        tableStyle: "table table-bordered",
        footerStyle: "pie-grid",
        mode: WebGridPagerModes.All,
        firstText: "<< Primera",
        previousText: "< Anterior",
        nextText: "Siguiente >",
        lastText: "Última >>",
    columns: new [] {
         grid.Column("No", 
                header: "No",
                format: p=>p.RutaNo),

         grid.Column("Hora", 
                header: "Hora",
                format: p=>p.Hora), 
                

         grid.Column("RutaConsecutivo", 
                header: "No D",
                format: p=>p.RutaConsecutivo),
                
         grid.Column("Guia", 
                header: "Guía",
                format: p=>p.Guia),  
                
         grid.Column("Direccion", 
                header: "Dirección",
                format: p=>p.Direccion),
                
         grid.Column("Barrio", 
                header: "Barrio",
                format: p=>p.Barrio),
                
                
         grid.Column("Ciudad", 
                header: "Ciudad",
                format: p=>p.Ciudad),                                                                 
                                                                                  
         grid.Column("Departamento", 
                header: "Departamento",
                format: p=>p.Departamento),                                                                 
                                                                                                       
                
         grid.Column("Referente", 
                header: "Referente",
                format: p=>p.Referente), 
                
         grid.Column("Sector", 
                header: "Sector",
                format: p=>p.Sector),   

         grid.Column("E", 
                header: "E",
                format: p=>p.E), 
                
         grid.Column("NotaOperativa", 
                header: "Nota Operativa",
                format: p=>p.NotaOperativa),
                
         grid.Column("Movil", 
                header: "Móvil",
                format: p=>p.Usuario.PIN),                                                                   
                                                 
         grid.Column(
                "", 
                header: "Acciones",
                format: @<text>
                <div class="btn-group">
                    <a class="btn" href="Edit/@item.RutaID"><i class="icon-edit"></i> Editar</a> 
                    <a class="btn" href="Delete/@item.RutaID"><i class="icon-trash"></i> Eliminar</a>
                </div>
             </text>
            )                                                                                                   
              
                                                
})


</div>

 <div class="btn-group">
     <a class="btn" href="javascript:history.go(-1)"><i class="icon-step-backward"></i> Regresar</a>
</div>