@{
    ViewBag.Title = "Upload";
}

<div class="CreacionNuevo">

<h2>Cargar Rutas</h2>
<br />
<p><a class="btn btn-info" href="@Url.Content("~/Content/ArchivoEjemplo.csv")">Descargar archivo de ejemplo</a></p>

<br />
<form action="SendFile" method="post"  id="formFileId" enctype="multipart/form-data">
<input type="file" name="file" id="file" class="file" />


             <p>
                <input type="submit" value="Cargar Rutas" class="btn btn-primary" />
            </p>
 </form>

</div>
