@model AMMobile.Models.ReporteOE

@{
    ViewBag.Title = "Delete";
}



<h2>Eliminar</h2>

<fieldset>
    <legend>¿Está seguro que desea elimiar este reporte oe  @Html.DisplayFor(model => model.ReporteOEID)?</legend>


    
@using (Html.BeginForm())
{
 <p>
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 

  </p>
}
</fieldset>
 <div class="btn-group">
     <a class="btn" href="javascript:history.go(-1)"><i class="icon-step-backward"></i> Regresar</a>
</div>