@model IEnumerable<AMMobile.Models.ReporteOE>

@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model);
}


<div class="Consolidados">
<h2>Ruta Courier</h2>
<p>&nbsp</p>
@grid.GetHtml(
        fillEmptyRows: true,
        alternatingRowStyle: "fila-alternativa",
        tableStyle: "table table-bordered",
        footerStyle: "pie-grid",
        mode: WebGridPagerModes.All,
        firstText: "<< Primera",
        previousText: "< Anterior",
        nextText: "Siguiente >",
        lastText: "Última >>",
    columns: new [] {
         grid.Column("No", 
                header: "No",
                format: p=>p.ReporteOEID),

         grid.Column("FechaRegistro", 
                header: "Fecha Registro",
                format: p=>p.FechaRegistro.ToString("dd/MM/yyyy")), 
                

         grid.Column("FechaRegistro", 
                header: "Hora Registro",
                format: p=>p.FechaRegistro.ToString("HH:mm")), 

         grid.Column("Movil", 
                header: "Móvil",
                format: p=>p.Usuario.PIN),                
         
         grid.Column("INO", 
                header: "INO",
                format: p=>p.INO),
                
         grid.Column("EG", 
                header: "EG",
                format: p=>p.EG),  
                
         grid.Column("Datos", 
                header: "Datos",
                format: p=>p.Datos),
                
         grid.Column("Causal", 
                header: "Causal",
                format: p=>p.Causal),
                
                                                            
                                                                                  
         grid.Column("GestionOE", 
                header: "Gestión OE",
                format: p=>p.GestionOE),                                                                 
                                                                                                       
                
         grid.Column("E-NE", 
                header: "E-NE",
                format: p=>p.EstadoVisita.EstadoNm),  
                
                                                                   
                                                 
         grid.Column(
                "", 
                header: "Acciones",
                format: @<text>
                <div class="btn-group">
                    <a class="btn" href="Delete/@item.ReporteOEID"><i class="icon-trash"></i> Eliminar</a>
                </div>
             </text>
            )                                                                                                   
              
                                                
})


</div>


 <div class="btn-group">
     <a class="btn" href="javascript:history.go(-1)"><i class="icon-step-backward"></i> Regresar</a>
</div>