
@model AMMobile.Models.Usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Desactivar</h2>

<h3>¿Esta seguro que desea desactivar este usuario  @Html.DisplayFor(model => model.Nombre), móvil  @Html.DisplayFor(model => model.PIN)?</h3>
 @Html.HiddenFor(model => model.UsuarioID)
<br />
@using (Html.BeginForm()) {

        <input type="submit" value="Desactivar" class="btn btn-danger"/> 

}

 <div class="btn-group">
     <a class="btn" href="javascript:history.go(-1)"><i class="icon-step-backward"></i> Regresar</a>
</div>